/* Enter your custom CSS here */
body{
    font-family: Verdana, sans-serif;
    
}

.title{
    color: #666;
}

.text{
    color: #666;
}

.subtitle{
    color: #f07c17;
}

.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -2;
}

.list{
	margin-top:30px;
	width: 350px;
	height: 150px;
	border: 1px solid #d0d0d0;
}


.texto{
	width: 400px;
	height: 100px;
}